body{
    background-color: #1C1717;
}

@keyframes floating {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-2px);
    }
}

.float-animation {
    animation: floating 3s infinite ease-in-out;
}


.page-enter {
    opacity: 0;
    transform: translateY(20px);
}
.page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.page-exit {
    opacity: 1;
    transform: translateY(0);
}
.page-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
}

.grayscale{
    filter: grayscale(60%);
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.light-bulb-glow {
    position: absolute;
    top: -40px;
    right: 47px;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, rgba(255,255,0,0.5) 0%, rgba(255,255,0,0) 70%);
    border-radius: 50%;
    animation: flicker 1.5s infinite;
    pointer-events: none; /* برای جلوگیری از تعامل با این عنصر */
}

